<!-- <div class="day-viewer" day-viewer property="tasks" feed="true" url="/api/tasks"></div> -->
<!-- <div class="day-viewer page" day-viewer property="tasks" feed="" url="/api/tasks"></div> -->
<div class="day-view">
  <header class="header">
    <a href="#" class="next" ng-tap="nextDay()">&#9654;</a>
    <a href="#" class="prev" ng-tap="prevDay()">&#9664;</a>
    <p class="day">{{day}}</p>
  </header>
  <div class="totals">
    <div class="approved sorter" ng-tap="filterExpr = null;"><strong>all</strong>({{total.approved}})</div>
    <div class="done sorter" ng-tap="filterExpr = {done: true};"><strong>done</strong>({{total.done}})</div>
    <div class="not-done sorter" ng-tap="filterExpr = {done: false};"><strong>not done</strong>({{total.notDone}})</div>
  </div>
    <ul class="unstyled table-list task-list">
      <li ng-repeat="task in tasks | filter:filterExpr" class="table-list-item task-list-item approved-{{task.approved}}" ng-swipe-right="approveTransaction(task,task.transactionId)" ng-swipe-left="approveTransaction(task,task.transactionId)">
        <span class="avatar avatar-{{task._kid.avatar.color}}"><i class="icon icon-{{task._kid.avatar.icon}}"></i></span>
        <span class="value">{{task.value}}</span>
        <span class="done-{{task.done}}">{{task.name}}</span> 
      </li>
    </ul>
    <ul class="unstyled chore-feed hide">
      <li ng-repeat="task in tasks" class="task-list-item">
        <span class="avatar avatar-{{task._kid.avatar.color}}"><i class="icon icon-{{task._kid.avatar.icon}}"></i></span>
        <h4 class="done-{{task.done}}">{{task.name}} 
          <input type="checkbox" ng-model="task.approved" class="hide" ng-tap="approveTransaction(task.transactionId,$index)">
        </h4>
      </li>
    </ul>
</div>