<div class="page">
  <section class="admin-dashboard-section">
    <a ng-tap="navigate('RL','/admin-chores')" class="dashboard-list-item">
      <i class="icon icon-forward"></i>
      <span class="column-1">Chores</span>
      <span class="column-2">152</span>
    </a>
    <a ng-tap="navigate('RL','/admin-rewards')" class="dashboard-list-item">
      <i class="icon icon-forward"></i>
      <span class="column-1">Rewards</span>
      <span class="column-2">40</span>
    </a>
    <a ng-tap="navigate('RL','/admin-kids')" class="dashboard-list-item">
      <i class="icon icon-forward"></i>
      <span class="column-1">Kids</span>
      <span class="column-2">3</span>
    </a>
  </section>
  <section class="admin-dashboard-section">
    <a ng-tap="navigate('RL','/admin/chores')" class="dashboard-list-item">
      <i class="icon icon-edit"></i>
      <span class="column-1">Username</span>
      <span class="column-2">Mom</span>
    </a>
    <a ng-tap="navigate('RL','/admin/chores')" class="dashboard-list-item">
      <i class="icon icon-edit"></i>
      <span class="column-1">Avatar</span>
      <span class="avatar avatar-green"><i class="icon icon-band-aid"></i></span>
    </a>
    <a ng-tap="navigate('RL','/admin/chores')" class="dashboard-list-item">
      <i class="icon icon-edit"></i>
      <span class="column-1">Password</span>
      <span class="column-2">••••••••••</span>
    </a>
  </section>

    <a ng-tap="navigate('RL','/admin/chores')" class="dashboard-list-item">
      <i class="icon icon-forward"></i>
      <span class="column-1">Options</span>
    </a>
  <p><a class="btn btn-red"><i class="icon icon-exit"></i>Log Out</a></p>
  <!-- <p><a class="btn btn-blue" ng-tap="navigate('RL','/add-chore')">Add Chores</a></p> -->
</div>