<div class="page">
  <%- include _modal-header.ejs %>
  <section class="admin-dashboard-section">
    <span ng-tap="navigate('RL','/admin-chores','/admin')" class="dashboard-list-item">
      <span class="icon-wrapper"><i class="icon icon-forward"></i></span>
      <span class="column-1">Chores</span>
      <span class="column-2">{{choreCount}}</span>
    </span>
    <span ng-tap="navigate('RL','/admin-rewards','/admin')" class="dashboard-list-item">
      <span class="icon-wrapper"><i class="icon icon-forward"></i></span>
      <span class="column-1">Rewards</span>
      <span class="column-2">{{rewardCount}}</span>
    </span>
    <span ng-tap="navigate('RL','/admin-kids','/admin')" class="dashboard-list-item">
      <span class="icon-wrapper"><i class="icon icon-forward"></i></span>
      <span class="column-1">Kids</span>
      <span class="column-2">{{kidCount}}</span>
    </span>
  </section>
  <section class="admin-dashboard-section">
    <span class="dashboard-list-item">
      <span class="icon-wrapper username-edit" ng-tap="editUsername()"><i class="icon icon-edit"></i></span>
      <span class="column-1">Name</span>
      <span class="column-2" id="username">{{user.name}}</span>
      <div class="edit-username-wrapper hide" id="usernameInput">
        <form class="form form-inline form-username" ng-submit="saveUsername(user.name)">

        <div class="input-wrapper username-input"><input class="column-2" type="text" ng-model="user.name"></div>
        <button class="btn btn-green" type="submit">Save</button>
        </form>
      </div>
    </span>
    <span class="dashboard-list-item">
      <span class="icon-wrapper username-edit" ng-tap="editAvatar()"><i class="icon icon-edit"></i></span>
      <span class="column-1">Avatar</span>
      <span class="avatar avatar-{{user.avatar.color}}"><i class="icon icon-{{user.avatar.icon}}"></i></span>
    </span>
    <span class="dashboard-list-item">
      <span class="icon-wrapper username-edit" ng-tap="editPassword()"><i class="icon icon-edit"></i></span>
      <span class="column-1">Password</span>
      <span class="column-2">•••••••••</span>
    </span>
  </section>

    <span ng-tap="navigate('RL','/admin/chores')" class="dashboard-list-item">
      <span class="icon-wrapper"><i class="icon icon-forward"></i></span>
      <span class="column-1">Options</span>
    </span>
  <p><a class="btn btn-red btn-full" ng-tap="logOut()"><i class="icon icon-exit"></i>Log Out</a></p>
  <p><a class="btn btn-red btn-full" ng-tap="logOutCompletely()"><i class="icon icon-exit"></i>Log Out Completely</a></p>
  <!-- <p><a class="btn btn-blue" ng-tap="navigate('RL','/add-chore')">Add Chores</a></p> -->
</div>