<div class="page page-view-admin-add-chore">
  <%- include _modal-header.ejs %>
  <form class="form form-add-chore" id="addTask" ng-submit="saveTask(task)">
    <input type="hidden" name="type" value="repeated" ng-model="task.type">

    <div class="task-name-wrapper">
      <a class="task-name-accept btn btn-green">OK</a>
      <div class="task-name-input-wrapper">
        <div class="input-wrapper">
          <input type="text" class="task-name-input" name="taskName" placeholder="Add a Chore..." ng-model="task.name">
        </div>
        </div>
    </div>

    
    <h3 class="section-heading"><i class="icon icon-repeat"></i>Repeat</h3>
    <div class="repeated-wrapper">
      <label for="monday" class="day-label"><input id="monday" ng-model="task.repeated.monday" type="checkbox"><span id="monday" class="day day-monday">M</span></label>
      <label for="tuesday" class="day-label"><input id="tuesday" ng-model="task.repeated.tuesday" type="checkbox"><span id="tuesday" class="day day-tuesday">T</span></label>
      <label for="wednesday" class="day-label"><input id="wednesday" ng-model="task.repeated.wednesday" type="checkbox"><span id="wednesday" class="day day-wednesday">W</span></label>
      <label for="thursday" class="day-label"><input id="thursday" ng-model="task.repeated.thursday" type="checkbox"><span id="thursday" class="day day-thursday">Th</span></label>
      <label for="friday" class="day-label"><input id="friday" ng-model="task.repeated.friday" type="checkbox"><span id="friday" class="day day-friday">F</span></label>
      <label for="saturday" class="day-label"><input id="saturday" ng-model="task.repeated.saturday" type="checkbox"><span id="saturday" class="day day-saturday">S</span></label>
      <label for="sunday" class="day-label"><input id="sunday" ng-model="task.repeated.sunday" type="checkbox"><span id="sunday" class="day day-sunday">Su</span></label>
    </div>
    <h3 class="section-heading"><i class="icon icon-coins"></i>Chore Value</h3>
    <div class="value-wrapper">
      <div class="input-wrapper">
        <input type="text" name="taskValue" pattern="\d*" placeholder="100" ng-model="task.value">
      </div>
      <label for="taskValue" class="value-label">Coins</label>
    </div>

    <h3 class="section-heading"><i class="icon icon-profile"></i>Assign Chore</h3>
    <section class="assign-chore-wrapper">
      <label ng-repeat="kid in kids" for="{{kid._id}}" class="day-label"><input id="{{kid._id}}" name="kid" ng-model="task._kid" value="{{kid._id}}" type="radio"><i class="icon icon-check"></i><span class="avatar avatar-{{kid.avatar.color}}"><i class="icon icon-{{kid.avatar.icon}}"></i><span class="kid-name">{{kid.name}}</span></span></label>
    </section>
    <section class="submit-actions">
      <div class="submit-action">
        <span class="button-label">OK</span>
        <button type="submit" class="btn btn-green"><i class="icon icon-check"></i></button>
      </div>
      <div class="submit-action">
        <span class="button-label">Cancel</span>
        <a class="btn btn-orange" ng-tap="back()"><i class="icon icon-x"></i></a>
      </div>
    </section>
  </form>
</div>
