<div class="page page-view-admin-rewards">
  <%- include _modal-header.ejs %>
  <h3 class="heading-1">admin rewards</h3>
  <a ng-tap="navigate('RL','/admin-add-reward','/admin-rewards')">Add Reward</a>
  
  <ul class="unstyled table-list">
    <li class="table-list-item" ng-repeat="reward in rewards" ng-tap="navigate('RL','/admin-edit-reward/'+reward._id)">
      <span class="avatar avatar-{{reward.avatar.color}}"><i class="icon icon-{{reward.avatar.icon}}"></i></span>
      <span class="item-label">{{reward.name}}</span>
    </li>
  </ul>
</div>