<div class="page page-view-admin-add-chore">
  <%- include _modal-header.ejs %>
  <form class="form form-add-chore" id="addTask" ng-submit="saveTask(task)">
    <input type="hidden" name="type" value="repeated" ng-model="task.type">

    <div class="task-name-wrapper">
      <!-- <a class="task-name-accept btn btn-green">OK</a> -->
      <div class="task-name-input-wrapper">
        <div class="input-wrapper">
          <input type="text" class="task-name-input" name="taskName" placeholder="Add a Chore..." ng-model="task.name">
        </div>
        </div>
    </div>


    <h3 class="section-heading"><i class="icon icon-repeat"></i>Repeat</h3>
    <div class="repeated-wrapper">
      <span id="monday" ng-tap="toggleDay('monday')" class="day day-monday">M</span>
      <span id="tuesday" ng-tap="toggleDay('tuesday')" class="day day-tuesday">T</span>
      <span id="wednesday" ng-tap="toggleDay('wednesday')" class="day day-wednesday">W</span>
      <span id="thursday" ng-tap="toggleDay('thursday')" class="day day-thursday">Th</span>
      <span id="friday" ng-tap="toggleDay('friday')" class="day day-friday">F</span>
      <span id="saturday" ng-tap="toggleDay('saturday')" class="day day-saturday">S</span>
      <span id="sunday" ng-tap="toggleDay('sunday')" class="day day-sunday">Su</span>
    </div>
    <h3 class="section-heading"><i class="icon icon-coins"></i>Chore Value</h3>
    <div class="value-wrapper">
      <div class="input-wrapper">
        <input type="text" name="taskValue" pattern="\d*" placeholder="How much is it worth?" ng-model="task.value">
      </div>
      <label for="taskValue" class="value-label">Coins</label>
    </div>

    <h3 class="section-heading"><i class="icon icon-profile"></i>Assign Chore</h3>
    <section class="assign-chore-wrapper">
      <label ng-repeat="kid in kids" for="{{kid._id}}" class="day-label">
      <input id="{{kid._id}}" name="kid" ng-model="task._kid" value="{{kid._id}}" type="radio"><i class="icon icon-check"></i><span class="avatar avatar-{{kid.avatar.color}}"><i class="icon icon-{{kid.avatar.icon}}"></i><span class="kid-name">{{kid.name}}</span></span></label>
    </section>
    <section class="submit-actions">
      <div class="submit-action">
        <span class="button-label">OK</span>
        <button type="submit" class="btn btn-green"><i class="icon icon-check"></i></button>
      </div>
      <div class="submit-action">
        <span class="button-label">Cancel</span>
        <a class="btn btn-orange" ng-tap="navigate('LR','/admin-chores')"><i class="icon icon-x"></i></a>
      </div>
      <div class="submit-action" ng-if="type">
        <span class="button-label">Delete</span>
        <a class="btn btn-red" ng-tap="deleteTask(task._id)"><i class="icon icon-x"></i></a>
      </div>
    </section>
  </form>
</div>
