<div class="page page-view-admin-kids">
  <%- include _modal-header.ejs %>
  <section class="admin-chores-header admin-list-header">
    <a class="btn btn-green" ng-tap="navigate('RL','/admin-add-kid','/admin-kids')"><i class="icon icon-plus"></i></a>
    <h3>Add New Kid</h3>
  </section>

  <ul class="unstyled table-list">
    <li class="table-list-item" ng-repeat="kid in kids" ng-tap="navigate('RL','/admin-edit-kid/'+kid._id)">
      <span class="avatar avatar-{{kid.avatar.color}}"><i class="icon icon-{{kid.avatar.icon}}"></i></span>
      <span class="item-label">{{kid.name}}</span>
    </li>
  </ul>
</div>
