<h2>Create Account</h2>
<form class="form" ng-submit="createAccount(account)">
  <label>Email:</label>
  <input type="text" ng-model="account.email">
  <label>Password:</label>
  <input type="password" ng-model="account.password">
  <p><button class="btn" type="submit">Create Account</button></p>
</form>
<p><a href="/login">Login</a></p>
