<div class="page">
  <p class="passcode-cancel" ng-tap="navigate('LR','/')">Cancel</p>
  <h2 class="heading-1">Passcode</h2>
  <section class="passcode-header">
    <div class="avatar avatar-{{tempKid.avatar.color}}"><i class="icon icon-{{tempKid.avatar.icon}}"></i></div>
    <h3>{{tempKid.name}}</h3>
  </section>
  <div class="passcode-blocks passcode-length-{{passcodeLength}}">
    <span class="block block1" ng-tap="focus()"></span>
    <span class="block block2" ng-tap="focus()"></span>
    <span class="block block3" ng-tap="focus()"></span>
    <span class="block block4" ng-tap="focus()"></span>
  </div>

  <input type="password" class="passcode-input hide" pattern="\d*" ng-model="passcode" autofocus>
</div>