<div class="page">
  <div class="modal-header">
    <i class="icon icon-profile"></i>

  </div>
  <div class="avatar avatar-color-{{}}">
    <i class="icon icon-{{}}"></i>
    <a class="btn btn-blue"><i class="icon icon-lock"></i>Set Picture</a>
  </div>  
  <div class="coin-style-wrapper">
    <p>Coin Style</p>
  
    <a class="btn btn-blue set-coins">Set Coins</a>

  </div>
  <a class="btn btn-blue"><i class="icon icon-lock"></i>Change Passcode</a>
  <a class="btn btn-blue" ng-tap="logOut();"><i class="icon icon-log-out"></i>Log Out</a>
</div>