<div class="page">
  <ul class="unstyled table-list">
    <li class="table-list-item" ng-repeat="reward in rewards" ng-tap="navigate('RL','/reward/'+reward._id)">
      <span class="avatar avatar-{{reward.avatar.color}}"><i class="icon icon-{{reward.avatar.icon}}"></i></span>
      <span class="item-label right">{{reward.value}}</span>
      <span class="item-label">{{reward.name}}</span>
    </li>
  </ul>
</div>