<!-- <p>There are {{subcategories.length}} subcategories</p> -->
<div ng-repeat='subcategory in subcategories' class='subcategories'>
  <h3 class="heading2"><a href="/recipes/{{subcategory._id}}">{{subcategory.name}}</a></h3> 
</div>