<div class="day-viewer page" day-viewer property="tasks" feed="" url="/api/tasks"></div>
<!-- <a href="#" class="prev" ng-tap="prevDay()">PREV</a>
<p>{{day}}</p>
<a href="#" class="next" ng-tap="nextDay()">NEXT</a>

<ul class="task-list">
  <li ng-repeat="task in tasks" class="task-list-item">
    <a href="#" ng-tap="transact(task._id,task._kid,task.transactionId,$index)" class="done-{{task.done}}">{{task.name}}</a> <span class="approved-{{task.approved}}">approved</span>
  </li>
</ul> -->