<% title = 'stuff' %>
<div class="page-wrapper">

<form action="/login" method="post">
  <label>Email:</label>
  <input type="text" name="username"/><br/>
  <label>Password:</label>
  <input type="password" name="password"/>
  <p><button class="btn" type="submit">Login</button></p>
</form>
<p><a href="/create-account">Create an Account</a></p>
</div>
